<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/general.css">
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/test.css">
    <script src="/static/script.js"></script>
    <title>Vocatio</title>
</head>
<body>
    <header>
        <div class="left-section">
          <p>Vocatio</p>
        </div>
        <div class="right-section">
            <img src="/static/images/77-773806_call-610-465-white-hamburger-menu-icon-png-removebg-preview.png">
        </div>
    </header>

    <section id="page-test">
        <div class="container">
            <p class="question">{{ question }}</p>
            <form method="POST">
                {% for option in options %}
                    <button type="submit" name="answer" value="{{ option }}" class="option">{{ option }}</button>
                {% endfor %}
            </form>
        </div>
    </section>

    <div class="arrows">
        <img src="images/left-arrow.png" alt="back-arrow">
        <img src="images/right-arrow.png" alt="next-arrow">
    </div>

    <footer>
        <p>&copy 2025 - Sabrina Luz </p>
    </footer>

</body>
</html>