.vocatio-box{
    height: 600px;
    background-color: #e2e2e2;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-box {
    height: 300px;
}

.description-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.description {
    font-size: 15px;
    width: 400px;
    margin-left: 70px;
}

.start-test {
    height: 200px;
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-test button {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.start-test button:hover {
    background-color: rgb(85, 85, 85);
}

.container {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    margin-top: 60px;
    position: relative;
    z-index: 1;
}

.question-box {
    padding: 20px;
}

.question {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Espaçamento entre os botões */
  }


.header img:hover {
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
    cursor: pointer; /* Aparece uma mãozinha ao passar o mouse */
}

.option:hover {
    background-color:#c5cfff;
    transform: scale(1.02); /* Leve zoom ao passar o rato */
}